@font-face {
  font-family: "GetSchwifty";
  src: url("../font/get_schwifty.ttf") format("truetype");
}

.corpo {
  background-color: rgb(20, 20, 20);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cabecalho {
  width: 100%;
  text-align: center;
  color: #48b6cc;
  font-family: "GetSchwifty", sans-serif;
  font-size: 3em;
  padding-top: 1em;
}


.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2; /* Isso garante que o conteúdo do container fique acima do efeito de vidro */
}


.background {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: -1;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(20, 20, 20, 0.95);
  z-index: -1;
}

#characterId,
#btn-go,
#content,
#photo,
.conteudo {
  position: relative;
  z-index: 3; /* Isso garante que estes elementos fiquem acima de tudo */
}

.conteudo {
  display: flex;
  height: auto;
  flex-direction: column;
  padding-top: 10%;
}

#form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1.2rem;
}

#characterId {
  width: 17%;
  padding: 12px 0;
  border-radius: 10px;
  outline: none;
  font-family: "GetSchwifty", sans-serif;
  background: transparent;
  border: 1px solid #90ef2c;
  color: #48b6cc;
  font-size: 1.2rem;
  appearance: textfield;
  text-align: center;
}

#characterId::-webkit-inner-spin-button,
#characterId::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#characterId:placeholder-shown {
  color: #90ef2c;
}


#btn-go {
  padding: 12px 0;
  width: 13%;
  border-radius: 10px;
  border: 1px solid #90ef2c;
  color: #90ef2c;
  margin-left: 10px;
  font-family: "GetSchwifty", sans-serif;
  font-size: 1.2em;
  cursor: pointer;
}

#btn-go:hover {
  color: #48b6cc;
  background-color: #202020;
  border: 1px solid #48b6cc;
}

.legenda {
  color: #90ef2c;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  font-family: "GetSchwifty", sans-serif;
  letter-spacing: 4px;
  line-height: 1.5;
}

.rodape {
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #90ef2c;
  text-align: center;
}

.rodape a {
  font-family: "GetSchwifty", sans-serif;
  color: #48b6cc;
}
